* {
  margin: 0;
  font-family: helvetica, sans-serif;
  box-sizing: border-box;
  font-weight: 100;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

body {
  background-color: lightgray;
}

.gui {
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2rem;
  display: flex;
  justify-content: center;
  
  transform: translateY(30rem);
  z-index: 190000;
  
}

#backdrop{
  transition: 0.3s;
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#backdrop div {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0.4rem;
  padding: 1rem;
  padding-top: 1.5rem
}

#backdrop div * {
  margin-bottom: 1rem
}

#backdrop div h1 {
  font-weight: 500;
}

.hide {
  transform: translateY(100vh);
}

.slide-bottom{
  transform: translateY(0rem);
}


.gui #cta-checkout{
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
  border-radius: 20rem;
  display: flex;
  justify-content: center;
  box-shadow: 0px 10px 20px rgba(0,0,0, 0.1);
}

.message {
  transition: 0.3s;
  
  background-color: white;
  border-radius: 0.4rem;
  padding: 1rem;
  
  display: flex;
  align-items: center;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 1rem;
  
  box-shadow: 0px 10px 20px rgba(0,0,0, 0.1);
  
}

.message.hidden {
  top: -10rem;
}

.message img {
  margin-right: 0.5rem;
}

.finder img {
  transition: 0.3s;
  opacity: 1;
  
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  
}

.finder p {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  left: 0;
  text-align: center;
  top: calc(50% + 9.5rem);
  animation: anim-pulsate 2.2s ease-in-out infinite;
}

@keyframes anim-pulsate{
  0 {opacity: 1; transform: translateY(0rem)}
  50% {opacity: 0.2; transform: translateY(0.5rem)}
  100% {opacity: 1; transform: translateY(0rem)}
}

.fade-out {
  transition: 0.3s;
  opacity: 0;
}

#turntable {
  transition: 0.3s;
  position: absolute;
  color: black;
  text-align: center;
  left: 0;
  width: 100%;
  bottom: 9.5rem;
  animation: anim-sideways 3.2s ease-in-out infinite;
  z-index: 9;
  
}

@keyframes anim-sideways{
  0% {transform: translateX(-2rem)}
  50% {transform: translateX(2rem)}
  100% {transform: translateX(-2rem)}
  
}